<h1>Breeds</h1>


<% Breed.read.order("breed asc").each do |breed| %>

<div class="col-md-6">

<p><img src= "<%= breed["photo_url"] %>" width="200"></p>
<p><b>Breed:</b> <%= breed["breed"] %></p>
<p><b>Body Type:</b> <%= breed["build"] %></p>
<p><b>Recommended Run:</b> <%= breed["run_type"] %></p>
<p><b>Recommended Distance:</b> <%= breed["run_distance"] %></p>
<br></br>

</div>

<% end %>

