<h1>Profile</h1>

<% user = User.find_by("id" => cookies["user_id"]) %>

<p> <%= link_to "Edit Profile", "/users/#{user["id"]}/edit" %> | <%= link_to "Delete Profile", "/users/#{user["id"]}", "method" => "delete" %> </p>

<p><b>Name:</b> <%= @user["first_name"] %> <%= @user["last_name"] %></p>
<p><b>Email:</b> <%= @user["email"] %></p>
<p><b>Password:</b> <%= @user["password"] %></p>
<p><b>Zip Code:</b> <%= @user["zip_code"] %></p>
<p><b>Sex:</b> <%= @user["sex"] %></p>
<p><b>Birth Year:</b> <%= @user["birth_year"] %></p>

  <% relationships = Relationship.where("user_id" => @user["id"]) %>

    <% relationships.each do |relationship| %>
      <% dog = Dog.find_by("id" => relationship["dog_id"]) %>
      <% breed = Breed.find_by("id" => dog["breed_id"]) %>

        <p><img src= "<%= breed["photo_url"] %>" width="200"></p>
        <p><b>Name:</b> <%= dog["name"] %></p>
        <p><b>Sex:</b> <%= dog["sex"] %></p>
        <p><b>Weight:</b> <%= dog["weight"] %></p>
        <p><b>Birth Year:</b> <%= dog["birth_year"] %></p>
        <p><b>Breed:</b> <%= breed["breed"] %></p>
        <p><b>Body Type:</b> <%= breed["build"] %></p>
        <p><b>Recommended Run:</b> <%= breed["run_type"] %></p>
        <p><b>Recommended Distance:</b> <%= breed["run_distance"] %></p>
        <p> <%= link_to "Edit Profile", "/dogs/#{dog["id"]}/edit" %> | <%= link_to "Delete Profile", "/dogs/#{dog["id"]}", "method" => "delete" %> </p>


      <% end %>

<div class="row">
  <div class="col-md-2 col-md-offset-0">
    <%= link_to "Add a New Dog", "/dogs/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<h3>Runs</h3>

  <% runs = Run.where("user_id" => @user["id"]) %>

    <% runs.each do |run| %>
      <% dog1 = Dog.find_by("id" => run["dog1_id"]) %>
      <% dog2 = Dog.find_by("id" => run["dog2_id"]) %>

      <table>
        <%= run["date"] %>
        <%= run["time"] %>
        <%= run["distance"] %>
        <%= dog1["name"] %>
        <%= link_to "Edit Run", "/runs/#{run["id"]}/edit" %> | <%= link_to "Delete Run", "/runs/#{run["id"]}", "method" => "delete" %> </p>
      </table>

    <% end %>

<div class="row">
  <div class="col-md-2 col-md-offset-0">
    <%= link_to "Add a New Run", "/runs/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>
