<h1>Add a Run</h1>

<div class="row">
  <div class="col-md-5">

    <p><%= @message %></p>

    <%= form_tag "/runs", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag "date", "Date (YYYY-MM-DD)" %>
        <%= text_field_tag "date", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "distance", "Distance" %>
        <%= text_field_tag "distance", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "time", "Time" %>
        <%= text_field_tag "time", "", "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "dog1_id", "Dog 1" %>
        <%= select_tag "dog1_id", options_from_collection_for_select(Dog.read.order("name"),"id","name"), "class" => "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag "dog2_id", "Dog 2" %>
        <%= select_tag "dog2_id", options_from_collection_for_select(Dog.read.order("name"),"id","name"), "class" => "form-control" %>
      </div>

      <%= "user_id" => params["id"] %>

      <%= submit_tag "Submit", "class" => "btn btn-lg btn-success" %> or <%= link_to "Cancel", "/" %>

    </form>
</div>
</div>
